@import "./variable.scss";

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin messageContent {
  &-content {
    color: #3d3d3d;
    font-size: 14px;
    padding: 0 24px;
    box-sizing: border-box;

    @include ellipse;

    &-success {
      color: $my-message-success-content-color;
    }

    &-warning {
      color: $my-message-warning-content-color;
    }

    &-error {
      color: $my-message-error-content-color;
    }

    &-info {
      color: $my-message-info-content-color;
    }
  }
}