@import "./variable.scss";

@mixin messageGrouping {
  &-grouping-count {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #ff4444;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    z-index: 1;

    &-success {
      background-color: $my-message-success-grouping-color;
    }
    &-warning {
      background-color: $my-message-warning-grouping-color;
    }
    &-error {
      background-color: $my-message-error-grouping-color;
    }
    &-info {
      background-color: $my-message-info-grouping-color;
    }
  }
}