// --------- 图标颜色 --------- //
$my-message-success-icon-color: #95d475;

$my-message-warning-icon-color: #eebe77;

$my-message-error-icon-color: #f89898;

$my-message-info-icon-color: #79bbff;

// --------- 字体颜色 --------- //
$my-message-success-content-color: #67C23A;

$my-message-warning-content-color: #E6A23C;

$my-message-error-content-color: #F56C6C;

$my-message-info-content-color: #409EFF;

// --------- 分组颜色 --------- //
$my-message-success-grouping-color: #529b2e;

$my-message-warning-grouping-color: #b88230;

$my-message-error-grouping-color: #c45656;

$my-message-info-grouping-color: #337ecc;