.my-checkbox {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
  height: 17px;
  font-size: 14px; // 适当减小字体大小

  &__input {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    visibility: hidden;

    &:checked + .my-checkbox__icon {
      border-color: #007bff;
      background-color: #007bff;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &:disabled + .my-checkbox__icon {
      cursor: not-allowed;
      border-color: #ccc;
      background-color: #e9ecef;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 14px; // 减小图标尺寸
    height: 14px; // 减小图标尺寸
    margin: 0 5px; // 减小图标与文字的间距
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
    transition: color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;

    &:hover {
      border-color: #007bff;
      background-color: #007bff;
    }
  }

  &__icon-checked {
    border-color: #007bff;
    background-color: #007bff;
  }

  &__label {
    font-size: 14px;
    color: #3d3d3d;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #007bff;
    }

    &-checked {
      color: #007bff;
    }
  }
}
